@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<!-- Main Heading -->
<h1>Home Security System</h1>

<!-- Status Display with "Status" word in black -->
<h2><span style="color: black;">Status:</span> <span style="color: @GetColorBasedOnStatus()">@motionStatus</span></h2>

<!-- Description -->
<section class="description">
    <p>
        Welcome to <strong>HomeSecurityApp</strong>, a comprehensive home safety solution. Let's dive into the key functionalities that set the application apart:
    </p>
    <ul>
        <li><strong>Real-time Motion Detection:</strong> The app actively monitors premises, providing live status updates. With color-coded alerts, users are immediately aware of any detected activity, ensuring quick response times.</li>
        <li><strong>Facial Recognition:</strong> Using face-detection algorithms, HomeSecurityApp can identify and validate faces. This feature detects individuals, adding an extra layer of security to your home.</li>
        <li><strong>Live Camera Feed:</strong> Experience a live surveillance feed right from dashboard. With integrated controls, start or stop the camera and activate real-time face detection, offering a easy to use monitoring experience.</li>
        <li><strong>User Authentication:</strong> Safety also extends to data privacy. This robust user authentication and authorization system ensure that only authorized individuals can access the system. Furthermore, with user roles like 'Admin' and 'Viewer', gives an additional layer of security.</li>
        <li><strong>Instant Alerts:</strong> Integrated with SignalR, the application offers real-time web functionality. When motion is detected, alerts are instantly sent to all connected devices.</li>
        <li><strong>Image Management:</strong> Access captured images with ease. The system organises and stores images for easy retrieval.</li>
    </ul>
    <p>
        Crafted with a user-centric approach, <strong>HomeSecurityApp</strong> ensures not just the safety of the house, but also offers an intuitive and hassle-free user experience.
    </p>
</section>


@code {
    private HubConnection hubConnection;
    private string motionStatus = "No motion detected";

    private string GetColorBasedOnStatus()
    {
        return motionStatus == "No motion detected" ? "green" : "red";
    }

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/notificationHub"))
            .Build();

        hubConnection.On<string>("ReceiveNotification", (message) =>
        {
            motionStatus = message;
            InvokeAsync(() => StateHasChanged());
        });

        await hubConnection.StartAsync();
    }
}